#footer p { font-size: .917em; text-align: center; margin:20px;}



/*table class reference*/

table.reference,table.tecspec{
    border-collapse:collapse;width:100%;

}

table.reference tr:nth-child(odd)	{background-color:#f1f1f1;}
table.reference tr:nth-child(even)	{background-color:#ffffff;}

table.reference tr.fixzebra			{background-color:#f1f1f1;}

table.reference th{
    color:#ffffff;
    background-color:#555555;
    border:1px solid #555555;
    /*padding:3px;*/
    vertical-align:middle;
    text-align:center;
}

table.reference th a:link,table.reference th a:visited{
    color:#ffffff;
}

table.reference th a:hover,table.reference th a:active{
    color:#EE872A;
}

table.reference td{
    border:1px solid #d4d4d4;
    padding:3px;
    /*        padding-top:7px;
            padding-bottom:7px;*/
    vertical-align:middle;
    text-align:center;
}

table.reference td.example_code
{
    vertical-align:bottom;
}

/*check balance*/

#btnCallWebService{
    background-color: antiquewhite;
    font-size: 11pt;
}

#responses{
    font-size: 17pt;
    font-style: oblique;
    font-weight: bold;
}

#bodyParagraph{
    font-variant: small-caps;
    font-size: 15pt;
}


input,select
{

    border-width: 2px;
    box-shadow: none;
    font-size: 15px;
}
label{
    font-size: 15px;
}

